/* ROOT VARS */
:root {
  --butt_bg: #000099;
  --butt_bg_hover: #0000cc;

  --border_light: #cccccc;
  --border_mid: #999999;
  --border_dark: #666666;

  --padding_sm: 6px;
  --padding_md: 8px;
  --padding_lg: 12px;

  --border_radius_sm: 6px;
  --border_radius_md: 12px;

  --bg_mid: #00aaaa;
}

/* ALL */
/* * {
    font-family: ;
} */

/* BODY */
body {
  font-family: sans-serif;
  background-color: var(--border_light);
}

/* EVENT BUTTS */
button {
  background-color: var(--butt_bg);
  border: 2px solid var(--border_light);
  color: var(--border_light);
}

button:hover {
  background-color: var(--butt_bg_hover);
}

/* COMMON WIDTHS */
button,
input,
pre,
section div {
  display: block;
  width: 100%;
  margin-inline: auto;
  max-width: 600px;
  padding: var(--padding_md);
  font-size: x-large;
  margin-bottom: var(--padding_sm);
}

h2,
p {
  margin-block: 0 var(--padding_sm);
}

button,
input {
  border-radius: var(--border_radius_sm);
}

/* OUTPUT PRE */
pre {
  min-height: 100px;
  border: 2px solid var(--border_dark);
  background-color: var(--bg_mid);
}

/* PAGE SECTIONS */

main {
  width: 100%;
  max-width: 800px;
  padding: var(--padding_lg);
  margin-inline: auto;
}

section {
  padding: var(--padding_md);
  width: 100%;
  max-width: 700px;
  margin-inline: auto;
  margin-bottom: 48px;
  background-color: var(--border_mid);
}

section,
pre {
  border-radius: var(--border_radius_md);
}

/* LAST TASK */
#butt_container {
  background-color: #fa0;
}
